In [49]:
import pandas as pd

In [56]:
sip_dim_store_data = pd.read_csv('SOURCES_sip_dim_store.csv')
sip_dim_store_data

   store_id            store_name  ...  frogmi_is_active  baking_trays_for_bakery
0        67            CASABLANCA  ...             False                       12
1       328        GRAN AVENIDA I  ...             False                       12
2       332               1 NORTE  ...             False                       18
3       486  CIUDAD DE LOS VALLES  ...             False                       18
4       978           SAN JOAQUIN  ...             False                       15

[5 rows x 12 columns]

In [98]:
df = sip_dim_store_data.copy()
filter_by = 'store_id'
store_id = 67
filtered_df = df.loc[df[filter_by] == store_id]
headers = filtered_df.columns
values = filtered_df.values[0]
store_params = dict(zip(headers, values))
store_params

{'store_id': 67,
 'store_name': 'CASABLANCA',
 'surface': 550,
 'format_id': 1,
 'commune': 'CASA BLANCA',
 'opening_date': '01-10-2008',
 'is_active': True,
 'sanitary_resolution': False,
 'process_room': True,
 'frogmi_id': 'e8b53fa4-b464-42ba-a041-ffc4a32c244c',
 'frogmi_is_active': False,
 'baking_trays_for_bakery': 12}

In [99]:
if store_params['sanitary_resolution'] and store_params['process_room']:
    print('Se puede producir cualquier sku, pero se utiliza Pollo fresco y Pollo congelado')
    productos = [858091, 571581, 638484, 626218, 632861, 638771, 966668, 966669, 966670, 966679]
elif not store_params['sanitary_resolution'] and store_params['process_room']:
    print('Solo se puede producir pollo pre-horneado')
    productos = [655130, 626218, 632861, 638771, 966668, 966669, 966670, 966679]
else:
    productos = []
    print('No se puede producir')
products_list = productos
products_list

Solo se puede producir pollo pre-horneado

[655130, 626218, 632861, 638771, 966668, 966669, 966670, 966679]

In [100]:
products_data = pd.read_csv('SOURCES_sip_dim_products.csv', sep=',')
products_to_produce = products_data.loc[products_data['sku'].isin(products_list)][['sku_name', 'sku', 'group_id', 'type']]
products_to_produce

                                sku_name     sku   group_id  type
2     PAN COLIZA CORRIENTE AMADA MASA KG  626218  170020302     1
3              PAN HALLULLA PLANA LAF KG  632861  170020104     1
4             PAN CIABATTA AMADA MASA KG  638771  170020302     1
6   POLLO ASADO LISTO TRADICIONAL TM UN.  655130  172011201     2
7             PAN HALLULLA AMADA MASA KG  966668  170020104     1
8           PAN MARRAQUETA AMADA MASA KG  966669  170020102     1
9              PAN DOBLADA AMADA MASA KG  966670  170020302     1
10   PAN HALLULLA INTEGRAL AMADA MASA KG  966679  170020302     1

In [164]:
predictions_data = pd.read_csv('BY_DemandPrediction_Day_COMP_202312262109.csv', sep=';')
prediction_data = predictions_data.loc[predictions_data['store_id'] == store_id]
prediction_data.columns = ['sku', 'store_id', 'predictionday', 'referenceday', 'finalforecast']
prediction_data

        sku  store_id predictionday referenceday  finalforecast
0    966679        67    2023-12-05   2023-12-01            3.0
1    966668        67    2023-12-06   2023-12-01           57.0
2    966669        67    2023-12-06   2023-12-01           57.0
3    966670        67    2023-12-06   2023-12-01            8.0
4    632861        67    2023-12-03   2023-12-01            1.0
..      ...       ...           ...          ...            ...
220  966668        67    2023-12-09   2023-12-01           69.0
221  966669        67    2023-12-21   2023-12-01           56.0
222  966670        67    2023-12-21   2023-12-01            7.0
223  966670        67    2023-12-05   2023-12-01            8.0
224  631234        67    2023-12-04   2023-12-01            0.0

[225 rows x 5 columns]

In [165]:
merged_data = products_to_produce.merge(prediction_data, on='sku',how='left')
merged_data

                                sku_name     sku  ...  referenceday  finalforecast
0     PAN COLIZA CORRIENTE AMADA MASA KG  626218  ...    2023-12-01            2.0
1     PAN COLIZA CORRIENTE AMADA MASA KG  626218  ...    2023-12-01            3.0
2     PAN COLIZA CORRIENTE AMADA MASA KG  626218  ...    2023-12-01            1.0
3     PAN COLIZA CORRIENTE AMADA MASA KG  626218  ...    2023-12-01            3.0
4     PAN COLIZA CORRIENTE AMADA MASA KG  626218  ...    2023-12-01            2.0
..                                   ...     ...  ...           ...            ...
195  PAN HALLULLA INTEGRAL AMADA MASA KG  966679  ...    2023-12-01            3.0
196  PAN HALLULLA INTEGRAL AMADA MASA KG  966679  ...    2023-12-01            3.0
197  PAN HALLULLA INTEGRAL AMADA MASA KG  966679  ...    2023-12-01            3.0
198  PAN HALLULLA INTEGRAL AMADA MASA KG  966679  ...    2023-12-01            3.0
199  PAN HALLULLA INTEGRAL AMADA MASA KG  966679  ...    2023-12-01            3.0

[200 rows x 8 columns]

In [166]:
merged_filtered_data = merged_data.loc[merged_data['predictionday'] == merged_data['referenceday']]
merged_filtered_data

                                 sku_name     sku  ...  referenceday  finalforecast
11     PAN COLIZA CORRIENTE AMADA MASA KG  626218  ...    2023-12-01            3.0
43              PAN HALLULLA PLANA LAF KG  632861  ...    2023-12-01            1.0
57             PAN CIABATTA AMADA MASA KG  638771  ...    2023-12-01           22.0
89   POLLO ASADO LISTO TRADICIONAL TM UN.  655130  ...    2023-12-01            6.0
119            PAN HALLULLA AMADA MASA KG  966668  ...    2023-12-01           63.0
142          PAN MARRAQUETA AMADA MASA KG  966669  ...    2023-12-01           71.0
165             PAN DOBLADA AMADA MASA KG  966670  ...    2023-12-01            9.0
198   PAN HALLULLA INTEGRAL AMADA MASA KG  966679  ...    2023-12-01            3.0

[8 rows x 8 columns]

In [167]:
bakery = merged_filtered_data.loc[merged_filtered_data['type'] == 1]
bakery

                                sku_name     sku  ...  referenceday  finalforecast
11    PAN COLIZA CORRIENTE AMADA MASA KG  626218  ...    2023-12-01            3.0
43             PAN HALLULLA PLANA LAF KG  632861  ...    2023-12-01            1.0
57            PAN CIABATTA AMADA MASA KG  638771  ...    2023-12-01           22.0
119           PAN HALLULLA AMADA MASA KG  966668  ...    2023-12-01           63.0
142         PAN MARRAQUETA AMADA MASA KG  966669  ...    2023-12-01           71.0
165            PAN DOBLADA AMADA MASA KG  966670  ...    2023-12-01            9.0
198  PAN HALLULLA INTEGRAL AMADA MASA KG  966679  ...    2023-12-01            3.0

[7 rows x 8 columns]

In [168]:
roastery = merged_filtered_data.loc[merged_filtered_data['type'] == 2]
roastery

                                sku_name     sku  ...  referenceday  finalforecast
89  POLLO ASADO LISTO TRADICIONAL TM UN.  655130  ...    2023-12-01            6.0

[1 rows x 8 columns]

In [108]:
def convert_int_to_char_str(integer: str, chars : int) -> str:
    """Converts an integer to a 4-character string.

    Args:
    integer: The integer to convert.

    Returns:
    A N-character string representation of the integer.
    """
    if isinstance(integer, int):
        integer_str = str(integer)
    else:
        integer_str = integer
    
    if len(integer_str) < chars:
        integer_str = integer_str.zfill(chars)
    return integer_str

In [169]:
from datetime import datetime
products_unique_array = products_data['sku'].astype(str).unique()
products_unique_list = [convert_int_to_char_str(sku, 18) for sku in products_unique_array]
products_unique_str  = ", ".join([f"'{value}'" for value in products_unique_list])
stores_id = [67]
str_store_id = ", ".join([f"'{convert_int_to_char_str(store_id, 4)}'" for store_id in stores_id])
current_date = datetime.now().strftime("%Y-%m-%d")
current_date = '2023-12-01'
stock_query = f"""
        SELECT
          DSKU.SKU_PRODUCT AS sku,
          LAOLS.DATE_VALUE AS fecha_medicion_inventario,
          CASE
          WHEN ROUND(SUM(LAOLS.NBR_ITM)) < 0 THEN 0
          ELSE ROUND(SUM(LAOLS.NBR_ITM))
          END AS stock_umb
        FROM `cl-data-procesada.PROD_AMP_BASE.LOGISTIC_ACTIVITY_IVNT_ANL` LAOLS
          INNER JOIN `cl-data-procesada.AMP.DIM_OU_HIERARCHY` DOH USING (OU_KEY)
          INNER JOIN `cl-data-procesada.AMP.DIM_DATE` DD USING (DATE_KEY)
          INNER JOIN  `cl-data-procesada.AMP.DIM_STORE` DS USING (OU_KEY)
          INNER JOIN  `cl-data-procesada.AMP.DIM_SKU_HIERARCHY` DSKU USING (SKU_KEY)
        WHERE LAOLS.DATE_VALUE >= '{current_date}' AND LAOLS.DATE_VALUE <= '{current_date}'
          AND DS.STORE_ID IN ({str_store_id})
          AND DSKU.SKU_PRODUCT IN ({products_unique_str})
        GROUP BY
          sku,
          fecha_medicion_inventario    
    """

In [170]:
from google.cloud import bigquery
from utils.environment import get_sa_json_from_consul
consul_host = 'consul.smu-labs.cl'
consul_port = 80
consul_token = 'ae3fe4c9-5f9e-6fe3-2e8b-2d012ea3168e'
consul_sa_file = 'smu-sip/smu-sip-profile-matrix/labs/service-account.json'
sa_json = get_sa_json_from_consul(consul_host, consul_port, consul_token, consul_sa_file)

In [171]:
client = bigquery.Client.from_service_account_info(sa_json)
query_job = client.query(stock_query)
stock_data = query_job.to_dataframe()
stock_data.columns = ['sku', 'predictionday', 'stock_umb']
stock_data['sku'] = stock_data['sku'].astype(int)
stock_data['stock_umb'] = stock_data['stock_umb'].astype(int)
stock_data

       sku predictionday  stock_umb
0   966679    2023-12-01         22
1   655129    2023-12-01          0
2   571581    2023-12-01          0
3   655130    2023-12-01          0
4   636093    2023-12-01         42
5   631234    2023-12-01          0
6   966668    2023-12-01        303
7   858091    2023-12-01          0
8   638484    2023-12-01          0
9   626218    2023-12-01         32
10  966669    2023-12-01        389
11  966670    2023-12-01         65
12  649587    2023-12-01        193
13  638771    2023-12-01        110
14  632861    2023-12-01         35

In [172]:
stock_data['predictionday'] = pd.to_datetime(stock_data['predictionday'], format='%Y-%m-%d')

bakery['sku'] = bakery['sku'].astype(int)
bakery['predictionday'] = pd.to_datetime(bakery['predictionday'], format='%Y-%m-%d')

roastery['sku'] = roastery['sku'].astype(int)
roastery['predictionday'] = pd.to_datetime(roastery['predictionday'], format='%Y-%m-%d')

C:\Users\Rodrigo\AppData\Local\Temp\ipykernel_17168\1344997064.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bakery['sku'] = bakery['sku'].astype(int)
C:\Users\Rodrigo\AppData\Local\Temp\ipykernel_17168\1344997064.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bakery['predictionday'] = pd.to_datetime(bakery['predictionday'], format='%Y-%m-%d')
C:\Users\Rodrigo\AppData\Local\Temp\ipykernel_17168\1344997064.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  roastery['sku'] = roastery['sku'].astype(int)
C:\Users\Rodrigo\AppData\Local\Temp\ipykernel_17168\1344997064.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  roastery['predictionday'] = pd.to_datetime(roastery['predictionday'], format='%Y-%m-%d')

In [173]:
bakery_merge = bakery.merge(stock_data, on=['sku', 'predictionday'], how='left')
bakery_merge

                              sku_name     sku  ...  finalforecast  stock_umb
0   PAN COLIZA CORRIENTE AMADA MASA KG  626218  ...            3.0         32
1            PAN HALLULLA PLANA LAF KG  632861  ...            1.0         35
2           PAN CIABATTA AMADA MASA KG  638771  ...           22.0        110
3           PAN HALLULLA AMADA MASA KG  966668  ...           63.0        303
4         PAN MARRAQUETA AMADA MASA KG  966669  ...           71.0        389
5            PAN DOBLADA AMADA MASA KG  966670  ...            9.0         65
6  PAN HALLULLA INTEGRAL AMADA MASA KG  966679  ...            3.0         22

[7 rows x 9 columns]

In [174]:
roastery_merge = roastery.merge(stock_data, on=['sku', 'predictionday'], how='left')
roastery_merge

                               sku_name     sku  ...  finalforecast  stock_umb
0  POLLO ASADO LISTO TRADICIONAL TM UN.  655130  ...            6.0          0

[1 rows x 9 columns]

In [175]:
bakery_prediction = bakery_merge.copy()
roastery_prediction = roastery_merge.copy()

In [176]:
dim_products = pd.read_csv('SOURCES_sip_dim_products.csv', sep=',')
dim_products

       sku                                 sku_name  ... type  sku_sales
0   858091         POLLO ASADO F CAL ELAB PROPIA UN  ...    2     612745
1   638484             POLLO ASADO C ELAB PROPIA UN  ...    2     612746
2   626218       PAN COLIZA CORRIENTE AMADA MASA KG  ...    1     626218
3   632861                PAN HALLULLA PLANA LAF KG  ...    1     632861
4   638771               PAN CIABATTA AMADA MASA KG  ...    1     638771
5   571581          POLLO ASADO CONG ELAB PROPIA UN  ...    2     642541
6   655130     POLLO ASADO LISTO TRADICIONAL TM UN.  ...    2     665561
7   966668               PAN HALLULLA AMADA MASA KG  ...    1     966668
8   966669             PAN MARRAQUETA AMADA MASA KG  ...    1     966669
9   966670                PAN DOBLADA AMADA MASA KG  ...    1     966670
10  966679      PAN HALLULLA INTEGRAL AMADA MASA KG  ...    1     966679
11  636093         POLLO ASADO LISTO ELAB PROPIA UN  ...    2     636110
12  649587       POLLO LISTO TRADICIONAL CAL AP UN.  ...    2     649664
13  631234          POLLO LISTO AL MERKEN CAL AP UN  ...    2     649665
14  655129  POLLO ASADO A LA PERUANA SV LISTO AP UN  ...    2     655753

[15 rows x 9 columns]

In [177]:
bakery_detailed_data = pd.read_csv('SOURCES_sip_dim_bakery_production.csv', sep=',')
bakery_detailed_data

    sku_product  ... baking_minutes
0        626218  ...             10
1        966676  ...             10
2        966679  ...             10
3        966668  ...             10
4        635098  ...             10
5        966675  ...             10
6        638771  ...             10
7        605439  ...             10
8        966669  ...             10
9        638770  ...             10
10       605438  ...              3
11       966672  ...              3
12       966671  ...              3
13       966670  ...             12
14       966674  ...             10
15       640681  ...              5
16       632861  ...             12

[17 rows x 5 columns]

In [178]:
roastery_detailed_data = pd.read_csv('SOURCES_sip_dim_roastery_production.csv', sep=',')
roastery_detailed_data

   store_id                   oven_model  ... maintainers  qty_maintainers
0        67                      SR7-PTF  ...           1               20
1       328                          HR7  ...           1               24
2       332                         STG7  ...           1               24
3       486                         STG7  ...           1               20
4       978  SelfCookingCenter 10x1/1 GN  ...           1               20

[5 rows x 11 columns]

In [195]:
profile_df = pd.read_csv('TRANSFORMED_67_profile_matrix.csv', sep=',')
profile_df

      store_id  sku_product  week  ...  number  day_total    weight
0           67       612746    49  ...      37   0.250000  1.000000
1           67       626218    48  ...      19  27.909091  0.008469
2           67       626218    48  ...      24  27.909091  0.008469
3           67       626218    48  ...      35  27.909091  0.049674
4           67       626218    48  ...      38  27.909091  0.024104
...        ...          ...   ...  ...     ...        ...       ...
4531        67       966679    51  ...      43  51.745000  0.019519
4532        67       966679    51  ...      49  51.745000  0.048894
4533        67       966679    51  ...      63  51.745000  0.037395
4534        67       966679    51  ...      64  51.745000  0.019326
4535        67       966679    51  ...      70  51.745000  0.035849

[4536 rows x 9 columns]

In [212]:
bakery['predictionday'].dt.weekday

11     4
43     4
57     4
119    4
142    4
165    4
198    4
Name: predictionday, dtype: int32

In [200]:
bakery_unique_list = bakery['sku'].unique().tolist()
bakery_unique_list

[626218, 632861, 638771, 966668, 966669, 966670, 966679]

In [238]:
weekday_series = pd.to_datetime(bakery['predictionday']).dt.weekday
weekday_series[0]

KeyError: 0

In [239]:
bakery_prediction = profile_df.loc[(profile_df['sku_product'].isin(bakery_unique_list)) & (profile_df['weekday']==pd.to_datetime(bakery['predictionday']).dt.weekday.iloc[0])]
#bakery_prediction1 = profile_df.loc[(profile_df['sku_product'].isin(bakery_unique_list))]
bakery_prediction

      store_id  sku_product  week  ...  number  day_total    weight
23          67       626218    48  ...      58  36.509091  0.066733
24          67       626218    48  ...      64  36.509091  0.021788
25          67       626218    48  ...      85  36.509091  0.029382
26          67       626218    48  ...      86  36.509091  0.019298
63          67       626218    49  ...      30  36.509091  0.039716
...        ...          ...   ...  ...     ...        ...       ...
4510        67       966679    51  ...      45  37.420000  0.013629
4511        67       966679    51  ...      60  37.420000  0.020310
4512        67       966679    51  ...      64  37.420000  0.019375
4513        67       966679    51  ...      65  37.420000  0.026724
4514        67       966679    51  ...      66  37.420000  0.033271

[651 rows x 9 columns]

In [240]:
def production_batches(df :pd.DataFrame, products :pd.DataFrame, predictions :pd.DataFrame, detail :pd.DataFrame) -> pd.DataFrame:
    # Variable to know which process will be evaluated
    # renombrar columna 'sku_product' por 'sku'
    df.rename(columns={'sku_product':'sku'}, inplace=True)
    detail.rename(columns={'sku_product':'sku'}, inplace=True)
    classification_state = 0

    # Identify process, bakery type 1 and roast chiken type 2
    # global classification_state
    if not (df.loc[df['sku'].isin(products.loc[products['type']==1]['sku_sales'].unique().tolist())].empty):
        classification_state = 1
        df = df.loc[df['sku'].isin(products.loc[products['type']==1]['sku_sales'].unique().tolist())]
    elif not (df.loc[df['sku'].isin(products.loc[products['type']==2]['sku_sales'].unique().tolist())].empty):
        classification_state = 2
        df = df.loc[df['sku'].isin(products.loc[products['type']==2]['sku_sales'].unique().tolist())]
    
    # Create bins
    bin_edges = [i for i in range(0, 93, 3)]
    
    # Calculates the sum of peso for each number range in relation to the products column.
    df['intervalo_'] = pd.cut(df['number'], bins=bin_edges, right=True)
    df = df.groupby(['sku', 'intervalo_'])['weight'].sum().reset_index()
    df['weight'].fillna(0, inplace=True)

    # Pivot the table to get the calculations as columns
    df = df.pivot_table(index='sku', columns='intervalo_', values='weight', fill_value=0)

    # Renames columns according to interval schedule 
    df.columns = [7 + 0.5 * i for i in range(len(df.columns))]
    df.reset_index(inplace=True) 
    
    # Identify the process and perform a merge with the predictions
    if classification_state == 1:
        df = df.loc[df['sku'].isin(products.loc[products['type']==1]['sku_sales'].unique().tolist())]
        df = df.merge(predictions, on=['sku'], how='inner')
    elif classification_state == 2:
        df = df.loc[df['sku'].isin(products.loc[products['type']==2]['sku_sales'].unique().tolist())]
        df = df.merge(predictions, on=['sku'], how='inner')

    # Convert the values from percentages to target value per interval
    hourly_columns = [i/2 + 7 for i in range(30)]
    df[hourly_columns] = df[hourly_columns].multiply(df['finalforecast'], axis=0)
    
    # Evaluate process for establishing the columns to be used
    if classification_state == 1:
        keep_columns = ['sku', 'unit_weight', 'units_per_tray']
        bakery_columns = keep_columns + hourly_columns
        df = df.merge(detail, on = 'sku', how='left')[bakery_columns]
    elif classification_state == 2:
        keep_columns = ['sku', 'qty_accessories', 'qty_inputs_per_accessory']
        roast_chiken_columns = keep_columns + hourly_columns
        df = df.merge(detail, on = 'store_id', how='left')[roast_chiken_columns]
         
                
    return df

In [219]:
bakery_batches = {0:[8, 11],
                1:[11, 14],
                2:[14, 17],
                3:[17, 21]}

roast_chiken_batches = {0:[8, 12],
                        1:[12, 21]} 

bakery_families = {1 : [626218, 966679, 966668],
                   2 : [638771, 966669],
                   3 : [966670, 632861]}

In [232]:

df_bakery = production_batches(bakery_prediction, dim_products, bakery, bakery_detailed_data)
df_bakery

C:\Users\Rodrigo\AppData\Local\Temp\ipykernel_17168\3215818411.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'sku_product':'sku'}, inplace=True)
C:\Users\Rodrigo\AppData\Local\Temp\ipykernel_17168\3215818411.py:22: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df = df.groupby(['sku', 'intervalo_'])['weight'].sum().reset_index()

      sku  unit_weight  units_per_tray  7.0  ...      20.0      20.5      21.0  21.5
0  626218          110              15  0.0  ...  0.251370  0.384338  0.146041   0.0
1  632861          100              15  0.0  ...  0.000000  0.131331  0.000000   0.0
2  638771          105              12  0.0  ...  0.000000  0.000000  0.109210   0.0
3  966668          100              15  0.0  ...  4.975946  3.906730  1.032963   0.0
4  966669          200               8  0.0  ...  2.763314  2.892979  0.055627   0.0
5  966670           80              20  0.0  ...  0.516569  0.075634  0.363743   0.0
6  966679          100              15  0.0  ...  0.000000  0.000000  0.079369   0.0

[7 rows x 33 columns]